<div class="container">
    <h5>Exclusive Deals</h5>

<h4>Menu Items</h4>
<mat-accordion> 
    <mat-expansion-panel *ngFor="let i of menu,let id=index" (click)="loadItems(i.id)" (opened)="openGroup(id)">
      <mat-expansion-panel-header  >
        <mat-panel-title >
          {{i.name}}
        </mat-panel-title>
        <mat-panel-description>
          catagories
        </mat-panel-description>
      </mat-expansion-panel-header>
      <router-outlet *ngIf="isOpen==id"></router-outlet>     
    </mat-expansion-panel>
</mat-accordion>
</div>