<div class="container-fluid" style="background-color: gray;" *ngIf="chef">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img style="width: 15vw; height: 20vh; margin: 5vh ; border-radius: 1vh;" src={{chef.displayImage}} alt="">
        </div><div class="col-2"></div>
        <div style="  margin : auto ;  " class="col">
          <h2  >{{chef.restaurentName}}</h2>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <h5>Exclusive Deals</h5>

<h4>Menu Items</h4>
<mat-spinner *ngIf="!loaded" ></mat-spinner>
<mat-accordion *ngIf="loaded"> 
    <mat-expansion-panel *ngFor="let i of menu,let id=index" (click)="loadItems(i.id)" (opened)="openGroup(id)">
      <mat-expansion-panel-header  >
        <mat-panel-title >
          {{i.name}}
        </mat-panel-title>
        <mat-panel-description>
          catagories
        </mat-panel-description>
      </mat-expansion-panel-header>
      <router-outlet *ngIf="isOpen==id"></router-outlet>     
    </mat-expansion-panel>
</mat-accordion>
</div>