<div class="container">
    <p>Cart</p>
    <div class="row">
        <div class="col-12 col-md-8">
            
            <mat-card>
                <mat-vertical-stepper >
                    <mat-step label="Items">
                        <mat-spinner *ngIf="!loaded"></mat-spinner>
                        <div class="row" *ngIf="loaded">
                            <div class="col-12" *ngFor="let i of item;let index=index">
                                <span>{{i.name}}</span>
                                <button style="float: right;" mat-raised-button (click)="onDelete(i.id)" color="accent">delete</button>
                                <button mat-icon-button (click)="onMinus(index)" color="accent">-</button>
                                <span> {{i.no}} </span>
                                <button mat-icon-button (click)="onPlus(index)" color="accent">+</button>
                                <br>
                                <span>      Price : {{i.price}}           </span> 
                                <br>
                                <hr>
                            </div>
                        </div>
                        <button style="float: right;" mat-button matStepperNext>Next</button>
                    </mat-step>
                    <mat-step label="Address">
                        <app-address (adress)="onAddress($event)"></app-address>
                    </mat-step>
                </mat-vertical-stepper>
                
            </mat-card>
        </div>
        <div class="col-12 col-md-3" style="margin-top : 1vh;">
            <mat-card>
                <p>Total Price</p>
                <hr>
                <p>price : {{price}}</p>
                <p>Delivery Charges : 25</p>
                <hr>
                <p>Total : {{price+25}}</p>
                <hr>
                <button mat-raised-button (click)="onOrder()" color="accent">Place Order</button>
            </mat-card>
        </div>
    </div>
</div>