
mat-form-field {
    width: 100%;
  }
  button{
    outline: none;
}
  mat-spinner {
    margin: auto;
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .container{
    padding: 5vh  30vw;
  }