<mat-toolbar  color="primary"  class="toolColor">
  <!-- <button mat-raised-button >Toggle drawer</button> -->
  <!-- <span routerLinkActive="active">
    <a [routerLink]="['/home']" >Home<mat-icon>home</mat-icon></a>
  </span>
  <span routerLinkActive="active"><a [routerLink]="['/cart']" >cart<mat-icon>shopping_cart</mat-icon></a></span>
  <span routerLinkActive="active"><a [routerLink]="['/order']" >order</a></span> -->
  
<!-- This fills the remaining space of the current row -->

<span>
  <a mat-button routerLink="/" routerLinkActive="active">HomeMade</a>
</span>
<span>
  <a mat-button routerLink="/cart" routerLinkActive="active">Cart</a>
</span>
<span>
  <a mat-button routerLink="/orders" routerLinkActive="active">Orders</a>
</span>
<span>
  <a mat-button *ngIf="!isChef" routerLink="/vendor/register" routerLinkActive="active">Chef </a>
</span>
<span>
  <a mat-button *ngIf="isChef" routerLink="/vendor/orders" routerLinkActive="active">Received Orders</a>
</span>
<span>
  <a mat-button *ngIf="isChef" routerLink="/vendor/allorders" routerLinkActive="active">All Orders</a>
</span>
<span>
  <a mat-button *ngIf="isChef" routerLink="/vendor/menu" routerLinkActive="active">Chef</a>
</span>
<div *ngIf="auth.user | async as user; else showLogin">
  
  <a mat-button (click)="logout()">Logout</a>
  <a mat-button routerLink="/profile" routerLinkActive="active">Profile</a>   
  <span> {{ user.email }}</span>
</div>
<ng-template #showLogin>
  <span>
    <a mat-button routerLink="/login" routerLinkActive="active">Singin</a>   
  </span>
  <span >
    <a mat-button routerLink="/signup" routerLinkActive="active">Signup</a>
  </span>
</ng-template>
<span *ngIf="isAdmin">
  <a mat-button routerLink="admin" routerLinkActive="active">admin</a>
</span>
</mat-toolbar> 
