<mat-toolbar  color="primary"  class="toolColor">
  <button mat-raised-button >Toggle drawer</button>
  <!-- <span routerLinkActive="active">
    <a [routerLink]="['/home']" >Home<mat-icon>home</mat-icon></a>
  </span>
  <span routerLinkActive="active"><a [routerLink]="['/cart']" >cart<mat-icon>shopping_cart</mat-icon></a></span>
  <span routerLinkActive="active"><a [routerLink]="['/order']" >order</a></span> -->
  
<!-- This fills the remaining space of the current row -->

<span>
  <a mat-button routerLink="/login" routerLinkActive="active">Singin</a>   
</span>
<span >
  <a mat-button routerLink="/signup" routerLinkActive="active">Signup</a>
</span>
<span>
  <a mat-button routerLink="/orders" routerLinkActive="active">Orders</a>
</span>
<span>
  <a mat-button routerLink="/cart" routerLinkActive="active">Cart</a>
</span>
<span>
  <a mat-button routerLink="/vendor/orders" routerLinkActive="active">Received Orders</a>
</span>
<span>
  <a mat-button routerLink="/vendor/allorders" routerLinkActive="active">All Orders</a>
</span>
<span>
  <a mat-button routerLink="/vendor/menu" routerLinkActive="active">Vendor</a>
</span>
</mat-toolbar>
